html {
    font-family: Arial;
    background-color: rgba(128, 128, 128, 0.692);
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    background-color: rgba(0, 255, 255, 0.616);
    max-width: 180px;
    border-radius: 4px;
    padding: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 
a {
    text-decoration: none;
    background-color: rgba(128, 12, 12, 0.753);
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.grid {
    text-align: center;
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

label {
    color: gold;
}